<div class="row-fluid">
  <div class="span12">
    <div class="wrapper">
	<div class="title">Operation Tre</div>
	
	<p class="info">Your mission, should you accept it, will be to report to Our Park on June 15th, at 1500<p>
		
	<p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet, metus nec semper rhoncus, magna tortor laoreet purus, faucibus tristique arcu nisl ac sapien. Cras ultrices, velit quis pulvinar ullamcorper, ligula ante sagittis ligula, et feugiat nisi sem eu justo. Vivamus porttitor malesuada dapibus. Suspendisse potenti. Nulla ullamcorper, neque ac suscipit commodo, lacus arcu aliquam diam, nec accumsan tellus est in odio. Quisque cursus risus nec lorem faucibus tristique. Integer scelerisque, ipsum in molestie ultricies, justo libero scelerisque sem, eleifend feugiat urna quam sed dui. Vivamus in tellus sit amet elit pellentesque dignissim.</p>
	
	Have your team leader (parents) contact HQ at <%= mail_to "me@domain.com", "My email",
	         :subject => "Operation Tre"%>
	
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    </div>
  </div>
</div>