<h2>Authorized Personnel Only</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>

  <%= f.input :Username %>
  <%= f.input :password %>
 
  <div class="form-actions">
    <%= f.submit "Login", class: "btn btn-primary" %>
  </div>
<% end %>