<div class="row-fluid">
  <div class="span12">
    <div class="wrapper">
	<br>
		
	<h6>Mission Objective:</h6>

	<p class="info">Soldiers - meet up at Headquarters to receive your equipment and proceed to the
	Battlefield (park) across the street where you will strategize with your team.</p>

	<h6>Mission Details:</h6>

	<p class="info">Drive to HQ - 3488 Woodburne Dr. Virginia Beach, VA 23452 by <span class="ops_color">1345</span> hours on <span class="ops_color">Saturday, June 15th, 2013</span><br><br>
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=3488+Woodburne+Dr.+Virginia+Beach,+VA+23452&amp;aq=&amp;sll=37.595614,-77.473074&amp;sspn=0.612598,1.234589&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=3488+Woodburne+Dr,+Virginia+Beach,+Virginia+23452&amp;ll=36.810734,-76.092159&amp;spn=0.009672,0.01929&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=3488+Woodburne+Dr.+Virginia+Beach,+VA+23452&amp;aq=&amp;sll=37.595614,-77.473074&amp;sspn=0.612598,1.234589&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=3488+Woodburne+Dr,+Virginia+Beach,+Virginia+23452&amp;ll=36.810734,-76.092159&amp;spn=0.009672,0.01929&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small><br><br>
	Mission begins at <span class="ops_color">1400</span> hours promptly.</p>

	<p class="info">Bring extra clothes!!!! There will be water involved</p>

	<p class="info">Wear all black outfit or black shirt with fatigue shorts</p>

	<p class="info">Mission ends at <span class="ops_color">1600</span> hours where soldiers will proceed back to HQ for pizza, prizes, cake & ice cream until <span class="ops_color">1730</span> hours (party ends)</p>

	<p class="info">Boy Soldiers – may stay to ensure mission is accomplished (bring sleeping
	equipment)</p>

	<h6>**COMMANDING OFFICERS (parents) **</h6>

	<p class="info">Please RSVP by <span class="ops_color">June 8th</span> if your soldier is able to complete the mission! Contact	information below:</p>

	<p>Ericka Saunders<br>
	(757) 419-6857 or<br>
	<%= mail_to 'ejsaunders2@yahoo.com', 'ejsaunders2@yahoo.com', :class => 'ops_color' %></p>

	<p>Please inform us of any allergies your soldier may have</p>

	<p>Please pick up your boy soldier by <span class="ops_color">1100</span> hours the next morning</p>

	<p class="ops_color">**Please note there will be no types of weapons involved or allowed**</p>
	
	<%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'btn btn-danger' %>
    </div>
  </div>
</div>